@font-face {font-family: 'LetterGothicMT';src: url('../fonts/letter-gothic/33F31C_2_0.eot');src: url('../fonts/letter-gothic/33F31C_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/letter-gothic/33F31C_2_0.woff2') format('woff2'),url('../fonts/letter-gothic/33F31C_2_0.woff') format('woff'),url('../fonts/letter-gothic/33F31C_2_0.ttf') format('truetype'),url('../fonts/letter-gothic/33F31C_2_0.svg#wf') format('svg');}
/*
@font-face {font-family: 'LetterGothicMT-Oblique';src: url('../fonts/letter-gothic/33F31C_1_0.eot');src: url('../fonts/letter-gothic/33F31C_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/letter-gothic/33F31C_1_0.woff2') format('woff2'),url('../fonts/letter-gothic/33F31C_1_0.woff') format('woff'),url('../fonts/letter-gothic/33F31C_1_0.ttf') format('truetype'),url('../fonts/letter-gothic/33F31C_1_0.svg#wf') format('svg');}

@font-face {font-family: 'LetterGothicMT-Bold';src: url('../fonts/letter-gothic/33F31C_3_0.eot');src: url('../fonts/letter-gothic/33F31C_3_0.eot?#iefix') format('embedded-opentype'),url('../fonts/letter-gothic/33F31C_3_0.woff2') format('woff2'),url('../fonts/letter-gothic/33F31C_3_0.woff') format('woff'),url('../fonts/letter-gothic/33F31C_3_0.ttf') format('truetype'),url('../fonts/letter-gothic/33F31C_3_0.svg#wf') format('svg');}

@font-face {font-family: 'LetterGothicMT-BoldOblique';src: url('../fonts/letter-gothic/33F31C_0_0.eot');src: url('../fonts/letter-gothic/33F31C_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/letter-gothic/33F31C_0_0.woff2') format('woff2'),url('../fonts/letter-gothic/33F31C_0_0.woff') format('woff'),url('../fonts/letter-gothic/33F31C_0_0.ttf') format('truetype'),url('../fonts/letter-gothic/33F31C_0_0.svg#wf') format('svg');}
*/
@font-face {
  font-family: 'Academy-Regular';
  src: url('../fonts/academy/Academy-Regular.eot?#iefix') format('embedded-opentype'),  url('Academy-Regular.otf')  format('opentype'),
	     url('../fonts/academy/Academy-Regular.woff') format('woff'), url('../fonts/academy/Academy-Regular.ttf')  format('truetype'), url('../fonts/academy/Academy-Regular.svg#Academy-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* ++++++++++++ NORMALIZE ++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++ */

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary,p,ul,menu,dir{display:block;margin:0;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++ */


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++ *

    B0D CUSTOM CSS

\* +++++++++++++++++++++++++++++++++++++++++++++++++++++ */

body, html{
/*	background-color: #00BBEE;/*#2526FF, 0000EE*/
	font-family: 'LetterGothicMT', serif;
	color: #000;/* #1a1a1a */
	font-size: 1.33em;
}
H1, H2, H3, H4, H5, H6 {
	font-family: 'Academy-Regular', sans-serif;
	font-size: 2em;
	font-weight: normal;
}
H1 {
	font-size: 2.2em;
}
H2 {
	font-family: 'LetterGothicMT', serif;
	font-family: 'Academy-Regular', sans-serif;
	font-size: 1.25em;
	display: block;
	margin: 1.5em 0 0.3em 0;
	letter-spacing: 0.03em;
	font-weight: normal;
}
p{
	display: block;
	margin: 0.5em 0;
}
a {
	background-color: transparent;
	color: #EC0000;
	text-decoration: none;
	border-bottom: 1.5px solid #999;
	padding: 5px 0 2px 0;
}
a:active,
a:hover {
	outline: 0;
	color: #1a1a1a;
	text-decoration: none;
	background-color: rgba(255, 230, 0, 0.35);
	border-bottom: 1.5px solid #999;
}
ul {
	display: block;
	list-style: disc;
}
li {
	font-size: 0.74em;
	margin-bottom: 0.3em;
}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: /*whatever width you want*/;
}
#nav{
	position: fixed;
	right: 20px;
	top: 20px;
}

#logo{
	margin-top: 1em;
	text-align: left;
	overflow: hidden;
	position: fixed;
	left: 69%;
	bottom: 6%;
}
#logo img{
	height: 300px;
}
#logo_bc {
	margin-top: 0;
	text-align: left;
	overflow: hidden;
	position: fixed;
	left: 4%;
	top: 7%;
}
#logo_bc img{
	height: 69px;
}
#mobile-logo{
	display: none;
}
footer{
	font-size: 0.55em;
	color: #ccc;
	padding-left: 1em;
	display: none;
}

#tatatataaa{
	max-width: 733px;
	padding: 0;
	position: absolute;
	left: 11%;
	top: 22%;
}
#tatatataaa p{
	text-align: left;
	line-height: 1.75;
	letter-spacing: -0.05em;
}
#ideadump{
	max-width: 733px;
	padding: 0;
	position: absolute;
	left: 15%;
	top: 1%;
}
#ideadump p{
	font-size: 0.69em;
	line-height: 1.6;
	letter-spacing: -0.05em;
	text-align: left;
}
#ideadump .intro_p p{
	font-size: 0.66em;
}
.pub {
	background-color: #efefef;
	font-family: 'Academy-Regular', sans-serif;
	font-size: 0.85em;
	color: #3C3F3F;
	padding: 15px;
}
.highlight {
    background-color: rgba(255, 230, 0, 0.35);
    padding: 3px 3px 0 3px;
    margin: 0 -5px;
    line-height: 1.3;
    border-radius: 1px;
    box-decoration-break: clone;
}
.blackbar {
	cursor: auto;
	background-image: linear-gradient(180deg, transparent 5%, #000 0px);
	background-repeat: no-repeat;
	background-size: 99% 90%;
	text-decoration: none;
	transition: background-size 222ms ease-in-out;	
}
.blackbar:hover, .blackbar:active, .blackbar:focus {
	background-size: 0 90%;
	transition: background-size 222ms ease-in-out;
}


.menu {
	font-size: 19px;
	text-align: right;
	position: fixed;
	right: 3%;
	top: 7%;
	z-index: 9900;
}
.menu_page {
	font-size: 19px;
	text-align: right;
	position: fixed;
	right: 3%;
	top: 7%;
	z-index: 9900;
}

.menu div {
	padding: 0;
	margin: 0;
	margin-bottom: 5px;
}
.menu.menu_page div {
	margin-bottom: 7px;
}

.menu a {
    color:  #000;
    font-weight: 400;
    margin: 0 20px auto;
    text-transform: none;
    text-decoration: none;
    white-space: nowrap;
   	cursor: pointer;
   	border: none;
   	background-color: transparent;
}

.menu a.blackbar {
	transition: background-size 222ms ease-in-out;
}
.menu a.blackbar:hover, .menu a.blackbar:active {
	transition: background-size 222ms ease-in-out;
}
.menu a.blackbar.m1 {
	background-image: linear-gradient(0deg, transparent 0%, #000 0px);
	background-size: 99% 80%;
}
.menu a.blackbar.m1:hover, .menu a.blackbar.m1:active {
	background-image: linear-gradient(0deg, transparent 0%, #000 0px);
	background-size: 0 80%;
}
.menu a.blackbar.m2 {
	background-image: linear-gradient(180deg, transparent 10%, #000 0px);
	background-size: 95% 80%;
}
.menu a.blackbar.m2:hover, .menu a.blackbar.m2:active {
	background-image: linear-gradient(180deg, transparent 10%, #000 0px);
	background-size: 0 80%;
}
.menu a.blackbar.m3 {
	background-image: linear-gradient(180deg, transparent 20%, #000 0px);
	background-size: 99% 95%;
}
.menu a.blackbar.m3:hover, .menu a.blackbar.m3:active {
	background-image: linear-gradient(180deg, transparent 20%, #000 0px);
	background-size: 0 95%;
}
.menu a.blackbar.m4 {
	background-image: linear-gradient(180deg, transparent 30%, #000 0px);
	background-size: 99% 100%;
}
.menu a.blackbar.m4:hover, .menu a.blackbar.m4:active {
	background-image: linear-gradient(180deg, transparent 30%, #000 0px);
	background-size: 0 100%;
}
/* -- .active menu state v2 -- */
.menu a.blackbar.active {
	font-size: 0.97em;
	background-image: linear-gradient(180deg, transparent 0%, #FFF7A1 0px);
	background-size: 99% 95%;
	cursor: auto;
}
.menu a.blackbar.active:hover, .menu a.blackbar.active:active {
	background-image: linear-gradient(180deg, transparent 0%, #FFF7A1 0px);
	background-size: 99% 95%;	
}
.menu.menu_page div.activeOFF {
	margin-bottom: 9px;
}
/* -- END -- */

/* -- .active menu state v1 -- 
.menu a.blackbar.active {
	font-size: 0.97em;
	background-image: linear-gradient(180deg, transparent 95%, red 0px);
	background-size: 99% 95%;
	cursor: auto;
}
.menu a.blackbar.active:hover, .menu a.blackbar.active:active, .menu a.blackbar.active:focus {
	background-image: linear-gradient(180deg, transparent 95%, red 0px);
	background-size: 99% 95%;
}
.menu.menu_page div.active {
	margin-bottom: 9px;
}
/* -- END -- */


.menu a:hover, .menu a:active {
    color:  #000;
}

.menu a.selected {
	color: #000;
	font-weight: 400;
	background-size: 0 100%;
	text-decoration: line-through;
}

.tilt-1 {
	-webkit-transform: rotate(1deg);
	-moz-transform: rotate(1deg);
	-o-transform: rotate(1deg);
	-ms-transform: rotate(1deg);
	transform: rotate(1deg);
}
.tilt-2 {
	-webkit-transform: rotate(-1deg);
	-moz-transform: rotate(-1deg);
	-o-transform: rotate(-1deg);
	-ms-transform: rotate(-1deg);
	transform: rotate(-1deg);
}
.tilt-3 {
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	transform: rotate(2deg);
}

.slicknav_menu {
    display:none;
}

.center{
	margin: 0 auto;
}
.spacer{
	display: block;
	height: 200px;
}
.wrapper-strike-that-shit{
	color: #EC0000;
	text-decoration: line-through;
}
.strike-that-shit{
	color: #1a1a1a;
}




@media (max-width: 600px) {
    .menu{
        display:none;
    }
	#logo{
		display: none;
	}
	#mobile-logo{
		display: block;
		text-align: left;
		position: fixed;
		left: 20px;
		top: 20px;
	}
	#mobile-logo img{
		height: 50px;
	}
    .slicknav_menu {
        display:block;
    }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 414px) {
 	#logo{
 		margin-top: 1em;
 		position: fixed;
 		left: 25px;
 		top: 15px;
 	}
 	#logo img{
 		height: 99px;
 		margin-right: -1px;
 	}
 	#tatatataaa{
 		margin: 0 auto;
 		margin-top: 3%;
 		padding: 0;
 		left: 0;
 	}
 	#tatatataaa p{
 		font-size: 0.88em;
 		line-height: 1.5;
 		padding: 10px;
 	}
	#ideadump{
 		margin: 0 auto;
 		margin-top: 3%;
 		padding: 0;
 		left: 0;
 	}
 	#ideadump p{
 		font-size: 0.88em;
 		line-height: 1.5;
 		padding: 10px;
 	}
}

@media all and (max-width: 1279px) {
	body, html {
		font-size: 1.3em;	
	}
	#logo{
		text-align: right;
		overflow: hidden;
		margin-top: 1em;
		position: fixed;
		left: 5%;
		top: 2.5%;
	}
	#logo img{
		height: 88px;
	}
	#tatatataaa{
		padding: 22px 0 0 0;
		margin: 0 auto;
	}
	#ideadump{
		padding: 22px 0 0 0;
		margin: 0 auto;
	}

}


@media all and (min-width: 1660px) {
	#logo{
		text-align: right;
		overflow: hidden;
		margin-top: 1em;
		position: fixed;
		left: 3%;
		top: 1.5%;
	}
	#logo img{
		height: 177px;
	}
	#tatatataaa{
		padding: 22px 0 0 0;
		position: absolute;
		left: 44%;
		top: 33%;
	}
	#ideadump{
		padding: 22px 0 0 0;
		position: absolute;
		left: 44%;
		top: 33%;
	}
	.menu {
		font-size: 19px;
		right: 20px;
		top: 40px;
		z-index: 9900;
	}
	.menu div {
		margin-bottom: 5px;
	}
}



/* +++++++++++ UTILITIES ++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/*!
 * SlickNav Responsive Mobile Menu v1.0.10
 * (c) 2016 Josh Cope
 * licensed under MIT
 */
.slicknav_btn {
  position: relative;
  display: block;
  vertical-align: middle;
  float: right;
  padding: 0.33em 0.55em;
  line-height: 1.125em;
  cursor: pointer; }

.slicknav_menu {
  *zoom: 1;
  position: fixed;
  width: 100%;
}
  .slicknav_menu .slicknav_menutxt {
    display: block;
    line-height: 1.188em;
    float: left; }
  .slicknav_menu .slicknav_no-text {
    margin: 0; }
  .slicknav_menu:before {
    content: " ";
    display: table; }
  .slicknav_menu:after {
    content: " ";
    display: table;
    clear: both; }

.slicknav_nav {
  clear: both; }
  .slicknav_nav ul {
    display: block; }
  .slicknav_nav li {
    display: block; }
  .slicknav_nav .slicknav_arrow {
    font-size: 0.8em;
    margin: 0 0 0 0.4em; }
  .slicknav_nav .slicknav_item {
    cursor: pointer; }
    .slicknav_nav .slicknav_item a {
      display: inline; }
  .slicknav_nav .slicknav_row {
    display: block; }
  .slicknav_nav a {
    display: block; }
  .slicknav_nav .slicknav_parent-link a {
    display: inline; }

.slicknav_brand {
  float: left; }

.slicknav_menu {
  font-size: 16px;
  box-sizing: border-box;
  background: none; }
  .slicknav_menu * {
    box-sizing: border-box; }
  .slicknav_menu .slicknav_menutxt {
    color: #fff;
    font-weight: 400; }
.slicknav_menu a{
	border: none;
}
.slicknav_menu a:hover, .slicknav_menu a:active, .slicknav_menu a:focus{
	background-color: #000;
	border: none;
}
.slicknav_btn {
  margin: 20px 15px 0 0;
  text-decoration: none;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  background-color: #000;
}

.slicknav_nav {
  background-color: #000;
  color: #fff;
  text-align: center;
  margin: 70px 0 0 0;
  padding: 2em 0 0;
  font-size: 1.375em;
  list-style: none;
  overflow: hidden;
  z-index: 9999;
/*  height: 80vh;
  margin-top: 10vh;*/
}
.slicknav_nav div{
	height: 20vh;
}
.slicknav_nav .blackbar, .slicknav_nav .blackbar:hover, .slicknav_nav .blackbar:active{
	background: none;
}

  .slicknav_nav ul {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0 0 0 20px; }
  .slicknav_nav .slicknav_row {
    padding: 5px 10px;
    margin: 2px 5px; }
    .slicknav_nav .slicknav_row:hover {
}
  .slicknav_nav a {
    padding: 5px 10px;
    margin: 2px 5px;
    text-decoration: none;
    color: #fff; }
    .slicknav_nav a:hover {
 }
  .slicknav_nav .slicknav_txtnode {
    margin-left: 15px; }
  .slicknav_nav .slicknav_item a {
    padding: 0;
    margin: 0; }
  .slicknav_nav .slicknav_parent-link a {
    padding: 0;
    margin: 0; }

