
@font-face {
  font-family: 'Academy-Regular';
  src: url('Academy-Regular.eot?#iefix') format('embedded-opentype'),  url('Academy-Regular.otf')  format('opentype'),
	     url('Academy-Regular.woff') format('woff'), url('Academy-Regular.ttf')  format('truetype'), url('Academy-Regular.svg#Academy-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
